<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Markdown 空間</title>
    <link rel="shortcut icon" href="../static/favicon.ico">
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="overview-component">  
        <div id="Markdown-region" class="markdown-region">
            <div class="list-section">
                <div class="title-region">
                    <h1>MarkDown 空間</h1>
                    <div style="width:100%;">
                        <form action='downloadMd' method="post"  id="downloadMd" style="width:100%; display: flex; justify-content: right;">
                            <span>下載MarkDown：</span>
                            <input id="download_markdown" name="download_url" style="width:25%" type="text" title="從HackMd下載MarkDown" placeholder="輸入HackMd網址">
                            <button id="send_html" style="margin-left: 10px;">下載</button>
                        </form>
                                    
                    </div>
            
                </div>
                <div class="card-box">   
                    <ul id="card-box-ul" class="card-arrange scrollable">
                        <li id = "add-md-card" class="list card">
                            <img id="add-md-file">
                            <form action="/readfile" method="post"  id="InputFile"  style="display: none;">
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/home.js"></script>
    <script>
        const add_card_button = document.querySelector('#add-md-card')
        add_card_button.addEventListener('click', ()=>{
            add_card_button.querySelector('#InputFile').submit()
            add_card_button.style.pointerEvents = "none"; 
        })

        const download_form = document.querySelector('#downloadMd')
        const downloader = document.querySelector("#download_markdown")
        downloader.addEventListener('keydown', (event) => {
            if (event.key === 'Enter') {
                // Enter鍵
                download_form.submit()
                input.value = ''; // 清空輸入框
            }
        })

        const download_button = document.querySelector("#send_html")
        download_button.addEventListener('click', (event) =>{
            download_form.submit()
            input.value = ''; // 清空輸入框
        })
    </script>
</body>
</html>
